@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui" {

   themes: light --default, dark --prefersdark, cupcake;

 }
  
/* Light Mode (default) */
body {
    transition: background-color 0.3s, color 0.3s;
    color: black
}

/* Dark Mode */
.dark {
    background-color: #1a202c;
    color:grey;
   
}